<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- include style from subpage -->
    <%- style %>
  </head>
  <body>
    <!-- include header -->
    <%- include('_header'); -%>
    
    <main id="layout-main">
    <!-- include body main parts -->
      <%- body %>
    </main>
    <!-- include footer -->
    <%- include('_footer'); -%>


    <!-- include scripts -->
    <%- script %>
  </body>
</html>
